@(notes: List[Note])

    @main("Welcome to the NoteApp") {
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Last Edited</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            @for(note <- notes) {
                <tr>
                    <td>@note.getId</td>
                    <td>@note.getTitle</td>
                    <td>@note.getLastEdited</td>
                    <td>
                        <button class="btn btn-primary" type="edit">Edit</button>
                        <button class="btn btn-danger" type="remove">Remove</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    }
